<h1>SF Movie Map</h1>


<form class="form-search">
	Type in your location to see movies filmed near you!<br>
    <br>
  <input type="text" name="address" size="100" class="input-medium search-query">
  <button type="submit" class="btn">Search</button>
</form>
<br /><br />

<div id="map-canvas" class="index"></div>

<script>
  var locationData = <%= @locations.to_json.html_safe %>;
  var movieData = <%= @movies.to_json.html_safe %>;
</script>

<%= javascript_include_tag "//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js", "https://maps.googleapis.com/maps/api/js?key=AIzaSyDrCN9KO9IjWfxF2cQ69kievg03j4Mdyi0&sensor=false", "application" %>
