<h1>SF Movie Map</h1>

<form>
  <label>
    Type your address in to see movies filmed near you!<br />
    <input type="text" name="address" size="90" />
  </label>
</form>

<br /><br />

<div id="map-canvas"></div>

<script>
  var locationData = <%= @locations.to_json.html_safe %>;
</script>

<%= javascript_include_tag "//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js", "https://maps.googleapis.com/maps/api/js?key=AIzaSyDrCN9KO9IjWfxF2cQ69kievg03j4Mdyi0&sensor=false", "application" %>
